
.content{
    grid-area: c;
    background-color: cornflowerblue;
}

.content img{

    width: 70%;
}
.item{
    color: greenyellow;
}

.posts{
    margin-top: 20px;
    
}
.postsBlock{
    padding: 10px;
}