.imageProfile{
    width: 300px;

}

.dialogs{
display:grid ;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    color: white;
padding: 10px;
}

.dialog {

padding: 5px;
}

.dialog a{
    font-size: 18px;
    font-family: inherit;
    color: white;
    text-decoration: none;
}
.dialogsItems .active{
    color: gold;
}
.messages{
padding: 10px;
}

.message{
color: white;
}